In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder,OrdinalEncoder,PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [17]:
file_path = "StudentsPerformance.csv"
df = pd.read_csv(file_path)
df.head()

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [19]:
encoder = LabelEncoder()
for col in ['gender','lunch','test preparation course']:
    df[col] = encoder.fit_transform(df[col])
df.head()

   gender race/ethnicity  ... reading score  writing score
0       0        group B  ...            72             74
1       0        group C  ...            90             88
2       0        group B  ...            95             93
3       1        group A  ...            57             44
4       1        group C  ...            78             75

[5 rows x 8 columns]

In [20]:
ordenc = OrdinalEncoder(categories=[['some high school','high school','some college',"associate's degree","bachelor's degree","master's degree"]])
df['education'] = ordenc.fit_transform(df[['parental level of education']])
df = df.drop('parental level of education',axis=1)
df.head()

   gender race/ethnicity  lunch  ...  reading score  writing score  education
0       0        group B      1  ...             72             74        4.0
1       0        group C      1  ...             90             88        2.0
2       0        group B      1  ...             95             93        5.0
3       1        group A      0  ...             57             44        3.0
4       1        group C      1  ...             78             75        2.0

[5 rows x 8 columns]

In [21]:
ohe = OneHotEncoder(sparse_output=False,handle_unknown='ignore')
encarr = ohe.fit_transform(df[['race/ethnicity']])
encnames = ohe.get_feature_names_out(['race/ethnicity'])
encdf = pd.DataFrame(encarr,columns=encnames,index=df.index)
df = pd.concat([df,encdf],axis=1)
df = df.drop(['race/ethnicity'],axis=1)
df.head()

   gender  lunch  ...  race/ethnicity_group D  race/ethnicity_group E
0       0      1  ...                     0.0                     0.0
1       0      1  ...                     0.0                     0.0
2       0      1  ...                     0.0                     0.0
3       1      0  ...                     0.0                     0.0
4       1      1  ...                     0.0                     0.0

[5 rows x 12 columns]